body {
    margin: 0;
    text-align: center;
    background-color: #075985;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    background: black;
    font-size: 90px;
    color: red;
    width: 120px;
    margin: 20px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 5px;
}

.addBtn {
    background: none;
    border-radius: 3px;
    color: black;
    margin: 1px;
    text-shadow: 50%;
}

.teams {
    color: white;
    font-size: 200%;
    margin-bottom: 0;
}